In [28]:
# pip install spyder
# pip install python-binance

from binance.client import Client
import pandas as pd
import datetime

api_key = "UcMU03IVMu8qoCX807y9lLCzilBL26uB7jQdTYe5W3ct4PQEh0Wg29Ukh4MdFfz5"
api_secret = "m6FQahzP5bXDtEL4I4SFzQxgVSuxPJmQ5B5d3iiJPaJRQrRGalgHu79avX28SdF4"
client=Client(api_key,api_secret)

print(client.ping())

{}

In [62]:
asset="BTCUSDT"
start="2019.4.1"
end = "2022.1.1"
#end= pd.to_datetime('today')
timeframe="1h"
Client.KLINE_INTERVAL_1HOUR

df_btc= pd.DataFrame(client.get_historical_klines(asset, timeframe,start,end, limit = 1000))
df_btc=df_btc.iloc[:,:6]
df_btc.columns=["Date","Open","High","Low","Close","Volume"]
df_btc=df_btc.set_index("Date")
df_btc.index = pd.to_datetime(df_btc.index, unit='ms')
df_btc=df_btc.astype("float")

df_btc = pd.DataFrame(df_btc)

display(df_btc.head())
display(df_btc.tail())

                        Open     High      Low    Close       Volume
Date
2019-04-01 00:00:00  4102.44  4127.65  4067.00  4121.69  2532.226223
2019-04-01 01:00:00  4119.90  4140.95  4114.10  4116.95  2178.031824
2019-04-01 02:00:00  4117.57  4130.36  4114.10  4122.88  1205.399385
2019-04-01 03:00:00  4123.07  4139.00  4115.01  4129.90  1881.763008
2019-04-01 04:00:00  4129.90  4138.00  4127.46  4130.76   722.293391

                         Open      High       Low     Close      Volume
Date
2021-12-31 20:00:00  45728.28  46211.07  45678.00  45879.24  1831.41202
2021-12-31 21:00:00  45886.66  46513.67  45766.85  46333.86  1734.69585
2021-12-31 22:00:00  46333.87  46569.97  46232.36  46303.99   991.85142
2021-12-31 23:00:00  46303.98  46520.13  46132.04  46216.93   985.99762
2022-01-01 00:00:00  46216.93  46731.39  46208.37  46656.13  1503.33095