In [1]:
# pip install spyder
# pip install python-binance

from binance.client import Client
import pandas as pd
import datetime

api_key = "UcMU03IVMu8qoCX807y9lLCzilBL26uB7jQdTYe5W3ct4PQEh0Wg29Ukh4MdFfz5"
api_secret = "m6FQahzP5bXDtEL4I4SFzQxgVSuxPJmQ5B5d3iiJPaJRQrRGalgHu79avX28SdF4"
client=Client(api_key,api_secret)

print(client.ping())

{}

In [4]:

ticker1 = "BTC"
ticker2 = "USDT"

asset= "{}{}".format(ticker1,ticker2)
dataframe_name = "df_{}".format(asset)
start="2019.1.1"
end = "2022.4.1"
#end= pd.to_datetime('today')
timeframe="1h"
Client.KLINE_INTERVAL_1HOUR

dataframe_name= pd.DataFrame(client.get_historical_klines(asset, timeframe,start,end, limit = 1000))
dataframe_name=dataframe_name.iloc[:,:6]
dataframe_name.columns=["Date","Open","High","Low","Close","Volume"]
dataframe_name=dataframe_name.set_index("Date")
dataframe_name.index = pd.to_datetime(dataframe_name.index, unit='ms')
dataframe_name=df_btc.astype("float")

dataframe_name = pd.DataFrame(dataframe_name)

display(dataframe_name.head())
display(dataframe_name.tail())

                        Open     High      Low    Close       Volume
Date
2019-01-01 00:00:00  3701.23  3713.00  3689.88  3700.31   686.367420
2019-01-01 01:00:00  3700.20  3702.73  3684.22  3689.69   613.539115
2019-01-01 02:00:00  3689.67  3695.95  3675.04  3690.00   895.302181
2019-01-01 03:00:00  3690.00  3699.77  3685.78  3693.13   796.714818
2019-01-01 04:00:00  3692.32  3720.00  3685.94  3692.71  1317.452909

                         Open      High       Low     Close      Volume
Date
2022-03-31 20:00:00  45581.98  45790.00  45519.03  45745.46  1550.11357
2022-03-31 21:00:00  45745.45  45849.99  45647.01  45757.19   887.89890
2022-03-31 22:00:00  45757.19  45820.34  45660.68  45787.85  1058.12591
2022-03-31 23:00:00  45787.85  45787.86  45200.00  45510.34  2889.28168
2022-04-01 00:00:00  45510.35  45644.86  45351.73  45541.50  1838.20071

In [6]:
# send data frame to csv file.

filename_file = "Resources/{}_{}_to_{}.csv".format(asset,start,end)

dataframe_name.to_csv(filename_file, index = True)